Flask~=1.1.2
gunicorn
numpy~=1.19.3
https://download.pytorch.org/whl/nightly/cpu/torch_nightly-1.0.0.dev20181129-cp36-cp36m-linux_x86_64.whl
fastai==1.0.61




Werkzeug~=1.0.1
torch~=1.7.1
torchvision~=0.8.2
Pillow~=8.1.0
scipy~=1.6.0
matplotlib~=3.3.3
pandas~=1.2.0
tqdm~=4.55.1
scikit-learn~=0.24.0
spacy~=2.3.5
setuptools~=51.1.1
PyYAML~=5.3.1
fastprogress~=1.0.0
requests~=2.25.1
six~=1.15.0
Jinja2~=2.11.2